* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2a35;
  color: #bab7b7;
  max-width: 1440px;
  margin: 0 auto;
}

.header > h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
}

.header > ul > li {
  margin-block: 1rem;
  font-size: 1.25rem;
}
